<style>
  .pink {
    color: pink;
  }
</style>

<h3>Hello <%= @user.name %>,</h3>

<p>
  Welcome to my platform! I hope you have a good time!
</p>

<div><%= link_to 'Back to website!', root_url %></div>

<div class="pink">- <%= @owner %></div>
